* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  outline: 2px solid purple;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
}
.container {
  min-height: 63vh;
  max-width: 80vw;
  margin: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  outline: 2px solid red;
  padding: 1rem;
}
.main-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  outline: 1px solid blue;
}
.main-text h1 {
  font-size: 45px;
  margin-bottom: 0.7rem;
}
.main-text p {
  line-height: 1.4;
}
.form-header {
  padding: 1rem;
  border-radius: 5px;
  background-color: hsl(248, 32%, 49%);
  text-align: center;
  color: #fff;
  margin: 1.2rem 0;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.171);
}
.form-header p span {
  font-weight: 800;
}
.form-container-inner {
  background-color: #fff;
  height: 78%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.171);
}
input {
  width: 100%;
  outline: none;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 4px;
  margin-bottom: 1.2rem;
  height: 45px;
  padding: 1rem 1.3rem;
  font-weight: 700;
  color: hsl(249, 10%, 26%);
}
input:focus {
  border: 1px solid hsl(249, 10%, 26%);
}
#btn {
  background-color: hsl(154, 59%, 51%);
  border: none;
  outline: none;
  height: 45px;
  color: #fff;
  border-radius: 4px;
  transition: all 0.5s ease;
  margin-bottom: 0.8rem;
  box-shadow: 0px 4px 0px hsla(154, 59%, 51%, 0.5);
}
#btn:hover {
  cursor: pointer;
  opacity: 0.7;
}
.confirmation {
  font-size: 10px;
  color: hsl(246, 25%, 77%);
  text-align: center;
}
.confirmation span {
  color: hsl(0, 100%, 74%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}



@media (max-width: 768px) {
  .container {
    margin: 1rem 0;
    max-height: fit-content;
    padding: 0 0.4rem;
    min-width: 99vw;
  }
}

@media (max-width: 425px) {
  .container {
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem 0;
  }
  .main-text {
    text-align: center;
    padding: 2rem 0.2rem;
  }
  .main-text h1 {
    font-size: 40px;
  }
  .main-text p {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  main {
    overflow: hidden;
  }
  .container {
    margin: 0.3rem 0;
    padding: 0.5rem;
  }
  .main-text h1 {
    font-size: 35px;
  }
  .form-container-inner {
    padding: 2rem 1rem;
  }
}
